.header {
  padding: 2rem 15rem;
}
.header_top {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.header_top__logo {
  display: grid;
  grid-template-rows: auto auto;
  cursor: pointer;
}
.healthify{
  height: 64px;
}
.doc {
  height: 36px;
  margin-left: -1px;
}
.header_top__login button{
  border: none;
  padding: 0 3rem;
  background: #F20732  ;
  font-size: 18px;
  width: 150px;
  color: #fff;
  font-weight: bold;
}
@media (max-width: 1200px) {
  .header {
      padding: 2rem 1rem;
  }
}
