.search {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-gap: 4rem;
  margin-top: 1.5rem;
}
.mat-flat-button {
  font-size: 18px;
  padding: 0 3rem;
}
.mat-option, .mat-select {
  font-family: 'Poppins', sans-serif;
}

mat-label {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}
mat-select {
  font-size: 18px;
}
mat-option {
  background: #fff;
}
.search_button {
  display: grid;
  align-items: center;
  justify-content: end;
}
.search_button button {
  width: 150px;
  display: grid;
  justify-content: center;
  font-weight: bold;
}
@media (max-width: 1200px) {
  .search {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto 1fr;
      grid-gap: 1rem;
  }
}
